<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Ricardo Hernandez | Estudiante de Ingenieria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/JRHB LOGO.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/JRHB LOGO.png" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/Profile-Picture.jpg" alt="Ricardo Hernandez" class="profile-pic nav-link" />
              <span class="caption nav-link">Ricardo Hernandez</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Sobre Mi</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Educacion</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Experiencia</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/totohernandez" target="_blank" class="nav-link">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/jrhb/" target="_blank" class="nav-link">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/toto_hernandez4" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Ricardo Hernandez</h2>
          <h3>{Estudiante de Ingenieria}</h3>
          <p>Energia . Desarrollo Sostenible . Tecnologia . Logistica</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contacto</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Experiencia</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/Profile-Picture.jpg" alt="Ricardo Hernandez" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hola 👋🏽</h2>
          <p>
            Soy un estudiante de la ESEN, cursando la carrera de ingeniería en negocios.
            Tengo 24 años, y he tenido la oportunidad de estudiar bastante tiempo.
            Empecé mi carrera universitaria en Estados Unidos, estudiando ingeniería eléctrica,
            luego tuve la oportunidad de transferirme al Tecnológico de Monterrey
            donde estudié ingeniería mecánica eléctrica por tres años.
            Siempre quise ser ingeniero, y las ciencias físico-naturales siempre me llamaron la atención.
          </p>
          <p>
            A través de los años he adquirido habilidades de pensamiento crítico a través del estudio y entendimiento de
            las matemáticas:
            calculo, algebra lineal, métodos numéricos de análisis, probabilidad y estadística, ecuaciones
            diferenciales,
            así como el estudio de ciencias físicas como la física, la química y sus derivados:
            termodinámica, análisis estructural, estática y dinámica, ciencias de materiales y fluidos.
            He trabajado en diseño de sistemas de piezas con sus análisis de fuerzas y ensamblaje en paquetes
            computacionales.
            En la rama de la energía eléctrica aprendí a analizar sistemas integrados estudiando circuitos,
            componentes electrónicos de potencia con sus controladores y la conversión de energía para la generación de
            electricidad.
            Luego de un tiempo de prácticas profesionales decidí cambiar el enfoque de mi carrera educativa.
          </p>
          <p>
            Me interesa la energía, sobre todo los métodos sostenibles y renovables de generación.
            Me interesan las finanzas, la idea de poder calcular el valor intrínseco de una compañía para luego poder
            invertir en ella apoyando su crecimiento.
            Me intrigan los desarrollos tecnológicos, todo el mundo de la programación y los startups tecnológicos.
            Me siento cómodo trabajando en temas de logística, en temas de optimización y mejora continua.
            Me considero una persona curiosa y siento que trabajo mejor en áreas que requieren mucha actividad y
            movimiento.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>Educacion</h2>
          <p>
            Listado de mis experiencias de educacion.
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-folder" aria-hidden="true"></i>
            <h2>Educacion Pasada</h2>
            <p>
              Escuela Americana - Bachillerato General (2015) <br>
              St. Marys University - Ingenieria Electrica (2015-2016) <br>
              Instituto Tecnologico de Estudios Superiores de Monterrey - Ingenieria Mecanica Electrica (2016-2019)
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
            <h2>Educacion Actual</h2>
            <p>
              Escuela Superior de Ingenieria y Negocios (2020-Actualidad) <br>
              Estudiante de Ingenieria en Negocios. Busco complementar mis estudios pasados con conocimientos de
              ingenieria industrial, finanzas, contabilidad, economia, intelgencia de negocios y IT.
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>Experiencia de Trabajo</h2>
        <p>Una pequena descripcion de mis experiencias de trabajo.</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/AmCham.png" />
        </div>
        <div class="project-description">
          <h2>AmCham El Salvador</h2>
          <p>
            Pasante general, apoye en todas las áreas de la gremial.
            Participe en vistas a clientes potenciales,
            apoye en la logistica del montaje de eventos,
            desarrolle una de base de datos para el área de seguridad,
            ayude en la clasificación y administración de archivos.
          </p>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Aeroman</h2>
          <p>
            Pasante en el área de ingeniería estructural.
            Participe en el entrenamiento de ingeniería estructural,
            estudiando manuales generales de aviones; su estructura, partes, daños y procesos de reparación.
            Apoye en un proyecto de mejora de proceso de fabricación de repuestos y herramientas equivalentes.
          </p>
        </div>
        <div class="project-img">
          <img src="/static/images/aeroman2.png" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/Puma.png" />
        </div>
        <div class="project-description">
          <h2>Puma Energy</h2>
          <p>
            Pasante en el área de atención al cliente.
            Trabaje en la logística de la entrega de camiones tanque de combustible
            a estaciones de servicio ubicadas en todo el país.
            Apoye en la programación de las entregas y en la comunicación con los clientes.
            Realice un análisis de una base de datos de inventario y venta de lubricantes.
            Realice un modelo de proyección de la demanda por tipo de lubricante,
            con el propósito de optimizar el inventario y potenciar las ventas.

          </p>
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Contactame!</h2>
      <p>
        Me encataria que me contactaran si estan interesados en mi perfil.
        Me pueden contactar si necesitan mas informacion sobre mi experiencia, educacion, o si buscan saber en que estoy
        trabajando actualmente.
      </p>
      <p>
        <i>Para posibles oportunidades de trabajo, escribir en el tema
          <strong>"Trabajo"</strong></i>
      </p>
      <div class="container">
        <p>
          <a href="mailto:joserhernandez96@gmail.com"><i class="fas fa-envelope-open"></i>
            joserhernandez96@gmail.com</a>
        </p>
        <p>
          <a href="https://github.com/totohernandez" target="_blank"><i class="fab fa-github"> GitHub</i></a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/jrhb/" target="_blank"><i class="fab fa-linkedin"> Linkedin</i></a>
        </p>
        <p>
          <a href="https://twitter.com/toto_hernandez4" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Inicio</a>
        <a href="#about" class="footer-nav-link">Sobre Mi</a>
        <a href="#services" class="footer-nav-link">Educacion</a>
        <a href="projects" class="footer-nav-link">Experiencia</a>
        <a href="#contact" class="footer-nav-link">Contacto</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> con 💙 por Ricardo Hernandez &copy; 2020
        </p>
        <p>Escrito con HTML, CSS y JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="https://github.com/totohernandez" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/jrhb/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/toto_hernandez4" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>
